<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Movies!</title>
    <link rel="stylesheet" type="text/css" th:href="@{styles.css}" href="../static/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"/>
<ul  style="list-style-type:none">
    <li>Movie titles</li>
    <li>Movie</li>
    <li>Movie</li>
    <li>Movie</li>

</ul>
    <a href="movies.html" th:href="@{movies.html}" class="link">Click me to access the movies page!</a>


    <img class="popcorn" th:src="${https://cdn.pixabay.com/photo/2016/06/03/12/42/popcorn-1433327_1280.jpg}" src="https://cdn.pixabay.com/photo/2016/06/03/12/42/popcorn-1433327_1280.jpg"/>


</head>
<body>




</body>
</html>